{% extends 'base.html' %}
{% load static %}

{% block title %} Girl biography {% endblock %}

{% block content %}
	<div id="main" class="alt">
		<section id="one">
			<div class="inner">
				<header class="major">
					<h1>{{ girl.name }}</h1>
					<p>Publication date - {{ girl.created_at }}</p>
					<p>Publication Update - {{ girl.updated_at }}</p>
				</header>
				{% if girl.image %}
					<span class="image main"><img style="width: 1200px; height: 800px;" src="{{ girl.image.url }}" alt="{{ girl.name }}" /></span>
				{% else %}
					<span class="image main"><img style="width: 1200px; height: 800px;" src="{% static 'images/default.jpg' %}" alt="{{ girl.name }}" /></span>
				{% endif %}
				<p>{{ girl.biography }}</p>
				<div class="inner">
					<h3>View other girls from this category</h3>
					<ul>
					{% for category in categories %}
						<li><a href="{% url 'girls_filter' title=category.title %}">{{ category }}</a></li>
					{% endfor %}
					</ul>
				</div>
				<a href="{% url 'girl_update' girl_id=girl.id %}"><button class="button">Update</button></a>
				<a href="{% url 'girl_delete' girl_id=girl.id %}"><button class="button">Delete</button></a>
			</div>
		</section>
	</div>
{% endblock %}
