{% extends 'base.html' %}
{% load static %}

{% block title %} New Detail {% endblock %}

{% block content %}
<!-- Main -->
	<div id="main" class="alt">
		<section id="one">
			<div class="inner">
				<header class="major">
					<h1>{{ new.title }}</h1>
					<p>Publication date - {{ new.created_at }}</p>
				</header>
				{% if new.image %}
					<span class="image main"><img style="width: 1200px; height: 800px;" src="{{ new.image.url }}" alt="{{ new.title }}" /></span>
				{% else %}
					<span class="image main"><img style="width: 1200px; height: 800px;" src="{% static 'images/default.jpg' %}" alt="{{ new.title }}" /></span>
				{% endif %}
				<p>{{ new.description }}</p>
				<a href="{% url 'update_new' new_id=new.id %}"><button class="button">Update</button></a>
				<a href="{% url 'delete_new' %}"><button class="button">Delete</button></a>
			</div>
		</section>
	</div>
{% endblock %}
