{% extends 'base.html' %}
{% load static %}

{% block title %}
    News
{% endblock %}

{% block content %}
    <!-- Banner -->
    <section id="banner" class="style2">
        <div class="inner">
            <span class="image">
                <img src="{% static 'images/banner.png' %}" alt="banner" />
            </span>
            <header class="major">
                <h1>News</h1>
            </header>
            <div class="content">
                <p>Latest news from Kyrgyzstan<br />
                and other news</p>
            </div>
        </div>
    </section>

    <!-- Main -->
    <div id="main">
        <!-- Two -->
        {% for new in news %}
            <section id="two" class="spotlights">
                <section>
                    <a href="{% url 'new_detail' new_id=new.id %}" class="image">
                        <img src="{{ new.image.url }}" alt="" data-position="center center" />
                    </a>
                    <div class="content">
                        <div class="inner">
                            <header class="major">
                                <h3>{{ new.title }}</h3>
                            </header>
                            <p>{{ new.description | truncatechars:100 }}</p>
                            <ul class="actions">
                                <li><a href="{% url 'new_detail' new_id=new.id %}" class="button">Learn more</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
            </section>
        {% endfor %}
    </div>
{% endblock %}
